#timerJs body {
    margin: auto;
    text-align: center;
}

#time {
    font-size: 80px;
}

#timerJs button {
    color: white;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
}

#timerJs button:hover {
    transform: scale(1.02);
    cursor: pointer;
}